// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

// $blue: #003366;
// $cyan: #3CBEEB;
$yellow: #e8e103;
// $purple: #590046;
$green: #004122;
$turquois: #7f9f90;
// $orange: #FF9900;
$red: #e5017b;

// -----------------------------------------------------------------------------
// sizes and spacing
// -----------------------------------------------------------------------------
// $desktop: 640px;

// $body-size: 16px;
// $body-size-tablet: 18px;

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

// $family-primary: serif;

// -----------------------------------------------------------------------------
// Derived variables
// -----------------------------------------------------------------------------

$primary: $green;
$success: $yellow;
$text: $green;
// $link: $blue;
